version: '3'
services:
    angular:
        container_name: frontend
        restart: always
        build: client
        ports:
            - '4200:4200'
    app:
        container_name: server
        restart: always
        build: .
        ports:
            - '80:3000'
        links:
            - mongo
    mongo:
        container_name: mongo
        image: mongo
        ports:
            - '27017:27017'